<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>No:</strong>
  <%= @entity.no %>
</p>

<p>
  <strong>Frac:</strong>
  <%= @entity.frac %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @entity.unit %>
</p>

<p>
  <strong>Street:</strong>
  <%= @entity.street %>
</p>

<p>
  <strong>Box:</strong>
  <%= @entity.box %>
</p>

<p>
  <strong>City:</strong>
  <%= @entity.city %>
</p>

<p>
  <strong>Polsub:</strong>
  <%= @entity.polsub %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @entity.postal %>
</p>

<p>
  <strong>Nation:</strong>
  <%= @entity.nation %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @entity.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entity.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @entity.url %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
