<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @unit.unit %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @unit.factor %>
</p>

<p>
  <strong>M:</strong>
  <%= @unit.m %>
</p>

<p>
  <strong>Kg:</strong>
  <%= @unit.kg %>
</p>

<p>
  <strong>S:</strong>
  <%= @unit.s %>
</p>

<p>
  <strong>A:</strong>
  <%= @unit.a %>
</p>

<p>
  <strong>K:</strong>
  <%= @unit.k %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @unit.cd %>
</p>

<p>
  <strong>Mol:</strong>
  <%= @unit.mol %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
