<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @transaction.entity %>
</p>

<p>
  <strong>Is void:</strong>
  <%= @transaction.is_void %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
